a {
  text-decoration: none;
  font-family: Helvetica;
  color: #191970;
}

a:hover {
    color: #FF7F50;
}


header {
    border: #191970 solid 2px;
   /* margin-top: 10px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;*/
    margin: 10px 40px 40px 40px;
    /*padding-top: 5px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;*/
    padding: 5px 20px 5px 20px;
}

body {
    background-image:url('blue.jpg');
    margin: 0%;
  }


main {
    font-family: Helvetica;
    color: #191970;
    background-color: #E0FFFF;
    border: 10px double #ADD8E6;
    /*margin-right: 40px;
    margin-bottom: 100px;
    margin-left: 40px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;*/
    margin:0 40px 100px 40px;
    padding: 0 10px 10px 10px;
  }

  ul {
    list-style: none;
  }

  nav li {
    display: inline;
}

  h1{
    margin: auto;
    width: 80%;
    margin-top: 10px;
  }